:root {
  /* Paleta institucional UNTRM */
  --azul: #14315F;
  --azul-osc: #0B1F3F;
  --azul-med: #2E5FA3;
  --celeste: #EAF1FA;
  --dorado: #D9A404;

  /* Neutros */
  --g900: #1C2430;
  --g600: #55606E;
  --g300: #C9D2DD;
  --g100: #F4F6F9;
  --blanco: #fff;

  /* Semánticos */
  --ok: #1E7F4F;
  --alerta: #C77800;
  --peligro: #B3261E;
  --info: #2E5FA3;

  /* Tipografía */
  --ft: 'Montserrat', sans-serif;
  --fx: 'Inter', sans-serif;

  /* Forma */
  --r: 10px;
  --r-lg: 14px;
  --sombra: 0 1px 2px rgba(11, 31, 63, 0.04), 0 4px 14px rgba(11, 31, 63, 0.06);
  --sombra-hover: 0 2px 4px rgba(11, 31, 63, 0.06), 0 10px 24px rgba(11, 31, 63, 0.12);

  /* Bordes */
  --borde: #E4E9F1;
  --borde-fuerte: #D3DBE6;
}
